.clear {
  clear: both;
}
.yahei {
  font-family: "Microsoft yahei" !important;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #e0e0e0;
}
.container {
  width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-12 {
  width: 1000px;
}
.col-11 {
  width: 914.1666666666667px;
}
.col-10 {
  width: 828.3333333333334px;
}
.col-9 {
  width: 742.5px;
}
.col-8 {
  width: 656.6666666666666px;
}
.col-7 {
  width: 570.8333333333334px;
}
.col-6 {
  width: 485px;
}
.col-5 {
  width: 399.1666666666667px;
}
.col-4 {
  width: 313.3333333333333px;
}
.col-3 {
  width: 227.5px;
}
.col-2 {
  width: 141.66666666666666px;
}
.col-1 {
  width: 55.833333333333336px;
}
.col-offset-12 {
  margin-left: 1000px;
}
.col-offset-11 {
  margin-left: 914.1666666666667px;
}
.col-offset-10 {
  margin-left: 828.3333333333334px;
}
.col-offset-9 {
  margin-left: 742.5px;
}
.col-offset-8 {
  margin-left: 656.6666666666666px;
}
.col-offset-7 {
  margin-left: 570.8333333333334px;
}
.col-offset-6 {
  margin-left: 485px;
}
.col-offset-5 {
  margin-left: 399.1666666666667px;
}
.col-offset-4 {
  margin-left: 313.3333333333333px;
}
.col-offset-3 {
  margin-left: 227.5px;
}
.col-offset-2 {
  margin-left: 141.66666666666666px;
}
.col-offset-1 {
  margin-left: 141.66666666666666px;
}
.col-offset-0 {
  margin-left: NaNpx;
}
.col-push-12 {
  left: 1000px;
}
.col-push-11 {
  left: 914.1666666666667px;
}
.col-push-10 {
  left: 828.3333333333334px;
}
.col-push-9 {
  left: 742.5px;
}
.col-push-8 {
  left: 656.6666666666666px;
}
.col-push-7 {
  left: 570.8333333333334px;
}
.col-push-6 {
  left: 485px;
}
.col-push-5 {
  left: 399.1666666666667px;
}
.col-push-4 {
  left: 313.3333333333333px;
}
.col-push-3 {
  left: 227.5px;
}
.col-push-2 {
  left: 141.66666666666666px;
}
.col-push-1 {
  left: 55.833333333333336px;
}
.col-push-0 {
  left: NaNpx;
}
.col-pull-12 {
  right: 1000px;
}
.col-pull-11 {
  right: 914.1666666666667px;
}
.col-pull-10 {
  right: 828.3333333333334px;
}
.col-pull-9 {
  right: 742.5px;
}
.col-pull-8 {
  right: 656.6666666666666px;
}
.col-pull-7 {
  right: 570.8333333333334px;
}
.col-pull-6 {
  right: 485px;
}
.col-pull-5 {
  right: 399.1666666666667px;
}
.col-pull-4 {
  right: 313.3333333333333px;
}
.col-pull-3 {
  right: 227.5px;
}
.col-pull-2 {
  right: 141.66666666666666px;
}
.col-pull-1 {
  right: 55.833333333333336px;
}
.col-pull-0 {
  right: 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.title {
  font-family: "Microsoft yahei" !important;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
p {
  margin: 0 0 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Microsoft yahei" !important;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
h2 {
  font-size: 30px;
}
h3,
h3 {
  font-size: 24px;
}
h4,
h4 {
  font-size: 18px;
}
h5,
h5 {
  font-size: 14px;
}
h6,
h6 {
  font-size: 12px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
}
button,
input,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
.form-control {
  margin: 12px auto;
  display: block;
  width: 100%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  background: #e0e0e0;
  text-decoration: none;
  color: #333333;
  font-family: inherit;
  font-size: 100%;
  border: 0px;
}
.btn:hover {
  background: #808080;
  text-decoration: none;
}
.btn-left {
  margin-right: 15px;
}
.btn-right {
  margin-left: 15px;
}
